/*
Color Palette:#F47C7C 
              #EF9F9F
              #FAD4D4
              #FFF2F2
*/

.navbar {
    background-color: #F47C7C;
}

.navbar-brand {
    color: white;
    border: white 1px solid;
    border-radius: 20px 0px 20px 0px;
    transition: 300ms ease-in-out;
    padding: 5px;
}

.navbar-brand:hover {
    color: #F47C7C;
    background-color: white;
    border-radius: 0px 20px 0px 20px;
    transition: 300ms ease-in-out;
    text-decoration: none;
}

.btn {
    color: white;
    border: white 1px solid;
}

.btn:hover {
    color: #F47C7C;
    background-color: white;
}

/* Screen Size - 463 */
@media (max-width: 463px) {
    .navbar-brand {
        font-size: 16px;
        border-radius: 20px 0px 20px 0px;
        transition: 300ms ease-in-out;
        padding: 5px;
    }
    .search{
        position: relative;
        width: 40%;
        right: -90px;
    }
    .btn{
        position: relative;
        width: 25%;
        text-align: center;
        font-size: 14px;
        right: -90px;
    }
}

/* Screen Size - 433 */
@media (max-width: 433px) {
    .navbar-brand {
        font-size: 14px;
        border-radius: 20px 0px 20px 0px;
        transition: 300ms ease-in-out;
        padding: 5px;
    }
    .search{
        position: relative;
        width: 40%;
        right: -90px;
    }
    .btn{
        position: relative;
        width: 25%;
        text-align: center;
        font-size: 14px;
        right: -90px;
    }
}

/* Screen Size - 420 */
@media (max-width: 420px) {
    .navbar-brand {
        font-size: 10px;
        border-radius: 20px 0px 20px 0px;
        transition: 300ms ease-in-out;
        padding: 5px;
    }
    .search{
        position: relative;
        width: 30%;
        right: -105px;
        font-size: 12px;
    }
    .btn{
        position: relative;
        width: 25%;
        text-align: center;
        font-size: 12px;
        right: -105px;
        
    }
}

/* Screen Size - 354 */
@media (max-width: 354px) {
    .navbar-brand {
        font-size: 6px;
        border-radius: 20px 0px 20px 0px;
        transition: 300ms ease-in-out;
        padding: 5px;
    }
    .search{
        position: relative;
        width: 30%;
        right: -105px;
        font-size: 12px;
    }
    .btn{
        position: relative;
        width: 25%;
        text-align: center;
        font-size: 12px;
        right: -105px;
        
    }
}

/* Screen Size - 329 */
@media (max-width: 329px) {
    .navbar-brand {
        font-size: 4px;
        border-radius: 20px 0px 20px 0px;
        transition: 300ms ease-in-out;
        padding: 5px;
    }
    .search{
        position: relative;
        width: 30%;
        right: -90px;
        font-size: 12px;
    }
    .btn{
        position: relative;
        width: 22%;
        text-align: center;
        font-size: 10px;
        right: -90px;
        
    }
}   

/* Screen Size - 311 */
@media (max-width: 311px) {
    .navbar-brand {
        font-size: 10px;
        border-radius: 20px 0px 20px 0px;
        transition: 300ms ease-in-out;
        padding: 5px;
        position: relative;
        left: 40%;
        margin-bottom: 10px;
    }
    .search{
        position: relative;
        width: 30%;
        right: -70px;
        font-size: 12px;
    }
    .btn{
        position: relative;
        width: 22%;
        text-align: center;
        font-size: 10px;
        right: -70px;
        
    }
} 